{% extends "common/base.side.html" %}

{% block title %}
    网段展示
{% endblock %}

{% block rcontent %}

    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "vlanlist" as thevlanlist %}
            <a class="btn btn-default {%if request.path = thevlanlist %} active {%endif%}" href={{ thevlanlist }}><span class="glyphicon glyphicon-edit"></span>网段展示</a>
            {% url "vlaninput" as thevlaninput %}
            <a class="btn btn-default {%if request.path =  thevlaninput %} active {%endif%}" href={{ thevlaninput }}><span class="glyphicon glyphicon-list"></span>网段录入</a>
        </div>
    </div>

    <hr/>

    <table class="table table-hover table-striped  table-bordered table-condensed">
        <tr>
            <th>网段名称</th>
            <th>起始IP</th>
            <th>结束IP</th>
            <th>网关</th>
            <th>子网掩码</th>
            <th>备注</th>
            <th>操作</th>
        </tr>

            {% for i in lPage %}
                <tr style="font-size: 14px;">
                    <td>{{ i.vlanname }}</td>
                    <td>{{ i.startip}}</td>
                    <td>{{ i.endip}}</td>
                    <td>{{ i.gateway}}</td>
                    <td>{{ i.mask}}</td>
                    <td>{{ i.remark}}</td>
                    <td class="host_buttom">
                        <a class="btn btn-warning btn-xs"  href={% url "vlanedit" i.id %} onclick="return confirm('是否确认编辑？')">编辑</a>
                        <a class="btn btn-danger btn-xs" href={% url "vlandelete" i.id %} onclick="return confirm('是否确认删除？')">删除</a>
                    </td>
                </tr>
            {% endfor %}

        </table>

    {% include "common/paginator.html" %}
{% endblock %}
