{% extends "common/base.side.html" %}
{% block title %}
    物理机更新
{% endblock %}

{% block rcontent %}

    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "pmlist" as thepmlist %}
            <a class="btn btn-default {%if request.path = thepmlist %} active {%endif%}" href={{ thepmlist }}><span class="glyphicon glyphicon-edit"></span
>物理机展示</a>
            {% url "pminput" as thepminput %}
            <a class="btn btn-default {%if request.path =  thepminput %} active {%endif%}" href={{ thepminput }}><span class="glyphicon glyphicon-list"></s
pan>物理机录入</a>
        </div>
    </div>

    <hr/>

<form class="form-horizontal" role="form" action={% url "pmedit" num %} method="POST" >
        {% csrf_token %}
            <div class="form-group">
                <label  class="col-md-1 control-label ">功能</label>
                <div class="col-md-4">
                    {{form.role}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.role.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">主机名</label>
                <div class="col-md-4">
                    {{form.pmname}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.pmname.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">序列号</label>
                <div class="col-md-4">
                    {{form.sn}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.sn.errors}}
                </div>
            </div>
            <div id="cluster_div" class="form-group">
                <label  id="cluster_label" class="col-md-1 control-label ">所属集群</label>
                <div class="col-md-4">
                    {{form.cluster}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.cluster.errors}}
                </div>
            </div>
            <div id="project_div" class="form-group">
                <label  id="project_label" class="col-md-1 control-label ">所属项目</label>
                <div class="col-md-4">
                    {{form.project}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.project.errors}}
                </div>
            </div>
            <div id="vlangroup_div" class="form-group">
                <label  id="vlangroup_label" class="col-md-1 control-label ">所属网段组</label>
                <div class="col-md-4">
                    {{form.vlangroup}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.vlangroup.errors}}
                </div>
            </div>
            <div id="storagegroup_div" class="form-group">
                <label  id="storagegroup_label" class="col-md-1 control-label ">所属存储组</label>
                <div class="col-md-4">
                    {{form.storagegroup}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.storagegroup.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">设备类型</label>
                <div class="col-md-4">
                    {{form.pmtype}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.pmtype.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">CPU</label>
                <div class="col-md-4">
                    <div class="input-group">
                    {{form.cpu}}
                    <span class="input-group-addon">C</span>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.cpu.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">内存</label>
                <div class="col-md-4">
                    <div class="input-group">
                    {{form.memory}}
                    <span class="input-group-addon">G</span>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.memory.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">磁盘</label>
                <div class="col-md-4">
                    <div class="input-group">
                    {{form.disk}}
                    <span class="input-group-addon">G</span>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.disk.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">操作系统</label>
                <div class="col-md-4">
                    {{form.os}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.os.errors}}
                </div>
            </div>
            <div id="soft_div" class="form-group">
                <label id="soft_label" class="col-md-1 control-label ">安装软件</label>
                <div class="col-md-4">
                    {{form.soft}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.soft.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">网卡数</label>
                <div class="col-md-4">
                    <div class="input-group">
                    {{form.eth}}
                    <span class="input-group-addon">张</span>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.eth.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">HBA卡</label>
                <div class="col-md-4">
                    <div class="input-group">
                    {{form.hba}}
                    <span class="input-group-addon">张</span>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.hba.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">HBAWWN</label>
                <div class="col-md-4">
                    {{form.hba_wwn}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.hba_wwn.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">IP地址</label>
                <div class="col-md-4">
                    {{form.ip}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.ip.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">管理地址</label>
                <div class="col-md-4">
                    {{form.ilo_ip}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.ilo_ip.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">子网掩码</label>
                <div class="col-md-4">
                    {{form.mask}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.mask.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">网关</label>
                <div class="col-md-4">
                    {{form.gateway}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.gateway.errors}}
                </div>
            </div>
            <div id="domain_div" class="form-group">
                <label id="domain_label" class="col-md-1 control-label ">所属域</label>
                <div class="col-md-4">
                    {{form.domain}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.domain.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">机柜位</label>
                <div class="col-md-4">
                    {{form.jiguiwei}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.jiguiwei.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">机柜号</label>
                <div class="col-md-4">
                    {{form.jiguihao}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.jiguihao.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">机房</label>
                <div class="col-md-4">
                    {{form.position}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.position.errors}}
                </div>
            </div>
            <div class="form-group">
                <label  class="col-md-1 control-label ">备注</label>
                <div class="col-md-4">
                    {{form.remark}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{form.remark.errors}}
                </div>
            </div>
            <div class="form-group">
            <div class="col-md-offset-1 col-md-4">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确认更新吗？')">更 新
</button>
            <div>
        </div>
    </form>

<script>
window.onload=function(){
    document.getElementById("id_project").disabled=true;
    document.getElementById("id_vlangroup").disabled=true;
    document.getElementById("id_storagegroup").disabled=true;
    document.getElementById("id_cluster").disabled=true;
    document.getElementById("id_soft").disabled=true;
    document.getElementById("id_domain").disabled=true;
}
</script>
<script src="/static/js/pmedit.js"></script>
{% endblock %}
