{% extends "common/base.side.html" %}
{% block title %}
    项目更新
{% endblock %}

{% block rcontent %}
<!--
<script >
        $(document).ready(function(){
            $ajaxSetup({
                data:{csrfmiddlewaretoken:'{{csrf_token}}'},
            }); 

            $('#mongoForm').submit(function(){
                var mongolist = $('#id_mongolist').val();
                var apachelist = $('#id_apachelist').val();
                var mongoversion = $('#id_mongoversion').val();
                var sysname = $('#id_sysname').val();
                var password = $('#id_password').val();
                
                $.ajax({
                    type:"POST",
		    data:{'mongolist':mongolist,'apachelist':apachelist,'mongoversion':mongoversion,'sysname':sysname,'password':password},   
                    url: "/install/mongo/",
                    dateType:"html",
                    cache:"false"
                    success:function(ret){$('#result').html(ret);}
                    /*
                    success:function(data){
                        $("#id_mongolist").show();
                        $("#id_apachelist").show();
                        $("#id_mongoversion").show();
                        $("#id_sysname").show();
                        $("#id_password").show();
                        $("#result").show();
                        $("#result").attr("value",data);
                    } */
                });

             /* $.get("/install/mongo/",{'mongolist':mongolist,'apachelist':apachelist,'mongoversion':mongoversion,'sysname':sysname,'password':password},function(ret){$('#result').html(ret)}) */
                  
            });
        });

</script>
-->

    <div class="btn-toolbar">
        <div class="btn-group">
            {% url "projectlist" as theprojectlist %}
            <a class="btn btn-default {%if request.path = theprojectlist %} active {%endif%}" href={{ theprojectlist }}><span class="glyphicon glyphicon-edit"></span
>项目展示</a>
            {% url "projectinput" as theprojectinput %}
            <a class="btn btn-default {%if request.path =  theprojectinput %} active {%endif%}" href={{ theprojectinput }}><span class="glyphicon glyphicon-list"></s
pan>项目录入</a>
        </div>
    </div>

    <hr/>

<form class="form-horizontal" role="form" action={% url "projectedit" num %} method="POST" >
    {% csrf_token %}

        {% for item in form %}
            <div class="form-group">
                <label class="control-label col-md-1">{{item.label}}</label>
                <div class="col-md-4">
                    {{item}}
                </div>
                <div class="col-md-offset-1 col-md-11">
                    {{item.errors}}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-offset-1 col-md-4">
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确认更新吗？')">更 新
</button>
            <div>
        </div>
    </form>

<script type="text/javascript">
        $('.form_datetime').datetimepicker({
                                               language: 'zh-CN',
                                               weekStart: 1,
                                               todayBtn: 1,
                                               autoclose: 1,
                                               todayHighlight: 1,
                                               startView: 2,
                                               forceParse: 0,
                                               showMeridian: 1
                                           });
</script>
{% endblock %}




